
    body {
    background-image: radial-gradient(#eeaeca, #94e9e4);
    font-family: Arial, Helvetica, sans-serif;
      }
h1, h2, ul{
    margin: 0;
    padding: 0;
}
h1 {
    color:#f50e81;
    margin-bottom: 10px;
    font-size:16px;
    font-weight: 350;
    line-height: 5px;
    text-align: left;
    }

li{
    position: relative;
    left:10px;
    list-style: none;
    margin: 0;
    padding:0;
    color:#f5077e;
    font-size:11px;
    font-weight: 350;
    line-height: 14px;
    }

.container {
    display: block; 
    max-width: 500px;
    margin-top: 200px;
    margin-bottom: 200px;  
}
.app-wrapper {
    margin:30px auto;
    font-size: 12px;
    text-align: center;
 
}
.weather-app {
    padding: 20px;
    border:1px solid rgb(146, 211, 205);
    background-color:  #f0daea81;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.weather-temperature img {
  position: relative;
  bottom:10px;
  left: 22.2px;
  height: 50px;
  width: 50px; 
}
.weather-temperature strong {
    position: relative;
    right: 28px;
    top: 24px;
    font-weight: 400;
    font-size: 42px;
}
.weather-temperature .units {
   position: relative; 
   right: 32px;
   top:5px;
   font-size: 12px;
}
.weather-temperature .active{
    text-decoration: none;
    color: black;
    cursor: default;
}
.weather-temperature .active:hover{
    text-decoration: none;
    }
.weather-forecast{
    margin-top: 10px;
    text-align: center;  
    }
.weather-forecast-date {
    font-size: 14px;
    color: #f5077e; 
  
}
.weather-forecast-temperatures-max {
    color: #02bdb3;
}
.weather-forecast-temperatures-min {
    color: #f50e81;
    opacity: 0.5;
}
.weather-forecast-temperatures {
    font-size: 13px;
}
#search-button {
    position: relative;
    right: 28px;
    border: 2px solid  rgb(121, 221, 211);
    border-radius: 6px;
    line-height: normal;
    font-size: 16px;
    color: #ffffff;
    background: #f3b8d48e;
    transition: all 150ms ease-in-out;
    width: 80px;
    height: 34px;
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
    bottom: 8px;  
}
#search-button:hover{
    text-decoration: none;
    background: #bee7e465;
    border: none;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
#city{
    position: relative;
    top:15px;
    text-align: center;
    color: rgb(40, 190, 183);
    font-size: 28px;
    font-weight: 400;
}   
#city-input{
    position: relative;
    right:50 px;
    border:2px solid rgb(121, 221, 211);
    text-align: center;
    width: 240px;
    color: rgb(248, 4, 167);
    height: 34px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    bottom: 8px;   
    }
#description {
    text-align: left;
    margin-bottom: 8px;
    color:#02bdb3;
    font-size:18px;
    font-weight: 400;
    line-height: 18px;
   
}
#description::first-letter{
    text-transform: capitalize;
}
#temperature{
    color: #f5077e;
}

#fahrenheit-link {
    text-decoration: none;
    color:#f50e81
}
#celsius-link {
    text-decoration: none;
    color: #02bdb3;
}
