
    body {
        background-image: radial-gradient(#eeaeca, #94e9e4);
        font-family: Arial, Helvetica, sans-serif;
      }
 

h1, h2, ul{
    margin: 0;
    padding: 0;
}


h1 {
    color:#f196c4;
    margin-bottom: 10px;
    font-size:16px;
    font-weight: 350;
    line-height: 5px;
    text-align: left;
    }

li{
    position: relative;
    left:10px;
    list-style: none;
    margin: 0;
    padding:0;
    color:#c0186c;
    font-size:11px;
    font-weight: 350;
    line-height: 14px;
    }
h5 {
    position: relative;
    top:10px;
    text-align: left;
    color: black;
    font-size: 20px;
    font-weight: 400;
}
.container {
 display: flex; 
 margin-top: 200px;
 margin-bottom: 200px;  
}
.app-wrapper {
    margin:30px auto;
    font-size: 12px;
    text-align: center;
 
}
.weather-app {
    padding: 20px;
    border:1px solid rgb(146, 211, 205);;
    background-color:  #f0daea81;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.weather-temperature img {
  position: relative;
  bottom:10px;
  left: 22.2px;
  height: 50px;
  width: 50px; 
}
.weather-temperature strong {
    position: relative;
    right: 28px;
    top: 24px;
    font-weight: 400;
    font-size: 42px;
}
.weather-temperature .units {
   position: relative; 
   right: 32px;
   top:5px;
   font-size: 12px;
}
#description {
    text-align: left;
    margin-bottom: 8px;
    color:#01a0ac;
    font-size:16px;
    font-weight: 350;
    line-height: 18px;
   
}
#description::first-letter{
    text-transform: capitalize;
}
